[Desktop Entry]
Name=ChatGPT
Exec=/usr/bin/flatpak run com.vivaldi.Vivaldi --app=https://chatgpt.com
Icon=com.vivaldi.Vivaldi
Type=Application
Categories=Network;
